<div class="grid" *ngIf="schedule$ | async as schedule">
  <div class="grid__inner" *rxLet="time$; let time">
    <div class="cell cell-12 list-item center" style="order: 1">
      <p>Aktuelle Uhrzeit</p>
      <h2>
        {{ time | date : "HH:mm" }}
      </h2>
    </div>

    <ng-container *ngFor="let item of scheduleItems$ | async; index as i">
      <ng-container *ngIf="extended">
        <ng-container *ngFor="let timedate of item.times">
          <mat-card
            *ngIf="!(hidePassed && timedate.time!.getTime() < time.getTime())"
            class="sm-list-item cell cell-12"
            [style.order]="getNumber(timedate.time)"
          >
            <h2>
              {{ timedate.time | date : "HH:mm" }}
            </h2>
            <h5 class="title">{{ timedate.title }} {{ item.title }}</h5>
            <div class="license">{{ item.planeLicensePlate }}</div>
          </mat-card>
        </ng-container>
      </ng-container>

      <mat-card
        class="list-item cell cell-12"
        [style.order]="getNumber(item.timeStart)"
      >
        <div class="start-time">
          <h4>
            {{ item.timeStart | date : "HH:mm" }}
          </h4>
          <span class="caption">{{ item.saying }}</span>
        </div>

        <h3 class="title">{{ item.title }}</h3>

        <div class="meta">
          <div>{{ item.planeLicensePlate }}</div>
          <div>{{ item.pilot }}</div>
        </div>
      </mat-card>
    </ng-container>
    <mat-card
      *ngIf="!hidePassed"
      class="active list-item cell cell-12"
      [style.order]="getNumber(time)"
    >
      <div class="start-time">
        <h4 class="time">
          {{ time | date : "HH:mm" }}
        </h4>
      </div>
      <!-- <h3 class="title">Jetzt</h3> -->
    </mat-card>
  </div>
</div>
