.full-width {
  width: 100%;
}

.mat-expansion-panel {
  padding: 0;
  margin-bottom: 24px;

  &.inactive {
    .mat-expansion-panel-header {
      background: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.26);
    }
  }
}

.add-button {
  margin: 0 auto
}
