<div class="grid" *ngIf="schedule$ | async as schedule">
  <div class="grid__inner">
    <div class="cell-12 grid__inner">
      <h4 class="cell-12 padtop">Programmeigenschaften</h4>
      <div class="cell-4">
        <mat-form-field>
          <mat-label>Programmdatum</mat-label>
          <input
            matInput
            [matDatepicker]="scheduledatepicker"
            [value]="schedule.start"
            (dateChange)="setDate($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="scheduledatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #scheduledatepicker></mat-datepicker>

          <mat-error> Geben Sie einen gültiges Datum ein </mat-error>
        </mat-form-field>
      </div>
      <div class="cell-4">
        <mat-form-field>
          <input
            matInput
            type="time"
            placeholder="Programmstart"
            name="schedule-time"
            [ngModel]="schedule.start | date : 'HH:mm'"
            [ngModelOptions]="{ updateOn: 'blur' }"
            (ngModelChange)="setScheduleStart($event)"
          />
        </mat-form-field>
      </div>
      <div class="cell-4">
        <mat-form-field>
          <mat-select
            placeholder="Programmstatus"
            (selectionChange)="updateSchedule({ isPublic: $event.value })"
            [(value)]="schedule.isPublic"
          >
            <mat-option *ngFor="let status of [true, false]" [value]="status">{{
              status ? "Öffentlich" : "Privat"
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="cell-12">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Programmtitle"
            name="schedule-title"
            [ngModel]="schedule.title"
            [ngModelOptions]="{ updateOn: 'blur' }"
            (ngModelChange)="updateSchedule({ title: $event })"
          />
        </mat-form-field>
      </div>
    </div>

    <div
      class="cell-12 grid_inner"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <mat-expansion-panel
        class="cell-12 card"
        *ngFor="let item of scheduleItems$ | async; index as i"
        cdkDrag
        [ngClass]="{ inactive: !item.isPublic }"
        [expanded]="openPanels[item.id!]"
        (opened)="openPanels[item.id!] = true"
        (closed)="openPanels[item.id!] = false"
      >
        <mat-expansion-panel-header cdkDragHandle>
          <mat-panel-title> {{ i + 1 }}. {{ item.title }} </mat-panel-title>
          <mat-panel-description>
            {{
              item.timeStart.toLocaleTimeString("de-DE", {
                hour: "2-digit",
                minute: "2-digit"
              })
            }}, {{ item.duration }} min, {{ item.planeLicensePlate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="grid__inner">
          <div class="cell-4">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Status"
                (selectionChange)="setItem(item, 'isPublic')"
                [(ngModel)]="item.isPublic"
              >
                <mat-option
                  *ngFor="let status of [true, false]"
                  [value]="status"
                  >{{ status ? "Öffentlich" : "Privat" }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="cell-4">
            <mat-form-field class="full-width">
              <input
                matInput
                type="number"
                placeholder="Dauer"
                name="item-{{ item.id }}-duration"
                [(ngModel)]="item.duration"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              />
              <span matSuffix>min</span>
            </mat-form-field>
          </div>

          <div class="cell-4">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Pilot"
                name="item-{{ item.id }}-pilot"
                [(ngModel)]="item.pilot"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              />
            </mat-form-field>
          </div>

          <div class="cell-8">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Titel"
                name="item-{{ item.id }}-title"
                [(ngModel)]="item.title"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              />
            </mat-form-field>
          </div>
          <div class="cell-4">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Flugzeugmuster"
                name="item-{{ item.id }}-planeType"
                [(ngModel)]="item.planeType"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              />
            </mat-form-field>
          </div>
          <div class="cell-8">
            <mat-form-field class="full-width">
              <textarea
                matInput
                placeholder="Beschreibung"
                [(ngModel)]="item.description"
                name="item-{{ item.id }}-description"
                cols="30"
                rows="3"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="cell-4">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Kennzeichen"
                name="item-{{ item.id }}-license"
                [(ngModel)]="item.planeLicensePlate"
                [ngModelOptions]="{ updateOn: 'blur' }"
                (ngModelChange)="setItem(item, 'duration')"
              />
            </mat-form-field>
          </div>
          <div class="cell-12"></div>
          <ng-container *ngFor="let time of item.times; index as i">
            <div class="cell-12">
              <mat-form-field class="full-width">
                <mat-label>{{ time.title }}</mat-label>
                <input
                  matInput
                  type="number"
                  name="item-{{ item.id }}-{{ time.title }}"
                  [(ngModel)]="time.minutes"
                  [ngModelOptions]="{ updateOn: 'blur' }"
                  (ngModelChange)="setItemTimeDuration(item, time, $event)"
                />

                <span matTextSuffix *ngIf="time.signed > 0"
                  >min nach Start</span
                >
                <span matTextSuffix *ngIf="time.signed < 0">min vor Start</span>
                <button mat-icon-button matPrefix (click)="deleteItemTime(item, i)"><mat-icon>delete</mat-icon></button>
              </mat-form-field>
            </div>
          </ng-container>

          <div class="cell-4">
            <button mat-button (click)="openAddTime(item)">
              Zeit Hinzufügen
            </button>
          </div>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="removeItem(item)">
            Entfernen
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>

    <div class="cell cell-12 add-button">
      <button
        clas=""
        mat-raised-button
        color="primary"
        (click)="addItem()"
      >
        Punkt hinzufügen
      </button>
    </div>
    <!-- </div> -->
  </div>
</div>
