.login-card {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  width: 100%;
  max-width: 800px;

  .logo {
    margin: 10vh auto;
    height: 5rem;
    // width: 100;
  }
}

mat-card-content {
  padding-top: 1rem;
  mat-form-field {
    width: 100%;
  }
}

img.background {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center center;
}
