<img class="background" src="assets/bg.jpg" />

<div class="content">

  <img class="logo" src="assets/FIBicus.svg" />

  <form (ngSubmit)="login()">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>FIBicus Login</mat-card-title>
        <mat-card-subtitle>Login or Register to use this service</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input name="username" matInput required type="email" [(ngModel)]="username">
          <mat-error>
            Geben Sie eine gültige Emailadresse ein
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input name="password" type="password" matInput required [(ngModel)]="password">
          <mat-error>
            Geben Sie ein Passwort ein
          </mat-error>
          <mat-error *ngIf="loginError"> Passwort oder Nutzername ungültig </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <!-- <button mat-button>Passwort vergessen?</button> -->
        <button role="button" mat-button (click)="register()" color="primary">Register</button>
        <button mat-button type="submit" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>