<div class="grid" *ngIf="schedule$ | async as schedule">
  <div class="grid__inner">
    <ng-container *ngFor="let item of scheduleItems$ | async; index as i">
      <mat-card
        class="list-item cell cell-12"
        [style.order]="getNumber(item.timeStart)"
      >
        <div class="start-time">
          <h4>
            {{ item.timeStart | date : "HH:mm" }}
          </h4>
        </div>
        <h3 class="title">{{ item.title }}</h3>
        <div class="meta">
          <div>{{ item.planeLicensePlate }}</div>
          <div>{{ item.pilot }}</div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
