.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  h3 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}

.center {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  h2 {
    font-size: 3em;
  }
}

.start-time {
  width: 9rem;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  .caption {
    font-size: 0.8rem;
  }
}
.meta {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0.5rem 0.5rem 0;

  * {
    padding: 0.25rem 0.5rem 0.25rem 0;
  }
}

.sm-list-item {
  @extend .list-item;
  h2 {
    margin: 0;
    padding: 0;
  }
  h5 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }
}

.active {
  background: #c7a82d;
  color: #fff;
}
