.quad-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  // padding: 1rem 0 0;
  .info{
    width: 50%;
    min-width: 7.5rem;
    flex-grow:1;
    padding: 1rem 0;
  
    p {
      margin: 0;
    }

    .caption{
      white-space: nowrap;
      color: #5f6368;
    }
  }
}

mat-card {
  margin: 1rem;
  cursor: pointer;
}