<!-- <ng-template *ngIf="schedules"> -->
<!-- <div class="container"> -->

<div class="grid">
  <div class="grid__inner">
    <ng-container *ngFor="let schedule of this.schedules$ | async">
      <mat-card
        *ngIf="schedule.isPublic || (canEdit$ | async)"
        routerLink="/main/detail/{{ schedule.id }}"
        class="cell cell-4 cell-8-tablet cell-4-phone"
      >
        <mat-card-header>
          <mat-card-title>
            {{ schedule.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ schedule.start | date | date : "dd.MM.yyyy" }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="quad-info">
            <div class="info">
              <span class="caption"> Programmbeginn </span>
              <p>
                {{ schedule.start | date : "HH:mm" }}
              </p>
            </div>
            <div class="info">
              <span class="caption"> Status </span>
              <p>
                {{ schedule.isPublic ? "Öffentlich" : "Privat" }}
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions
          align="end"
          *ngIf="(canEdit$ | async) || (canSeeExtended$ | async)"
        >
          <button
            mat-button
            *ngIf="canEdit$ | async"
            routerLink="/main/edit/{{ schedule.id }}"
          >
            Bearbeiten
          </button>
          <button
            mat-button
            *ngIf="canSeeExtended$ | async"
            routerLink="/main/detail/{{ schedule.id }}"
            [queryParams]="{ extended: true }"
          >
            Erw. Ansicht
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
