<mat-toolbar color="primary">
  <span [routerLink]="'/main'">FIBicus</span>
  <div class="spacer"></div>
  <ng-container *ngIf="authService.currentUser$ | async as user; else login">
    <span class="mat-body">{{user.displayName ? user.displayName : user.email}}</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="logout icon" (click)="authService.signOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
  <ng-template #login>
    <button mat-icon-button class="example-icon" aria-label="login icon" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>