<h1 mat-dialog-title>Zeit hinzufügen</h1>
<form mat-dialog-content #addTimeForm="ngForm">
<!--  <p>Zeit hinzufügen</p>-->
  <mat-form-field>
    <input name="add-time-title" placeholder="Titel" matInput required [minLength]="1" [(ngModel)]="data.title">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input
      [min]="0"
      required
      matInput
      type="number"
      placeholder="Differenz"
      name="add-time-minutes"
      [(ngModel)]="data.minutes"
    />
      <span matSuffix>min</span>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Vor oder nach Start</mat-label>
    <mat-select name="add-time-signed" [(ngModel)]="data.signed" required>
      <mat-option [value]="-1" selected>
        Vor Start
      </mat-option>
      <mat-option [value]="1">
        Nach Start
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="!addTimeForm.form.valid">Hinzufügen</button>
</div>
