$grid-breakpoints: (
  large: 1200px,
  desktop: 840px,
  tablet: 480px,
  phone: 0px,
) !default;

$grid-columns: (
  large: 12,
  desktop: 12,
  tablet: 8,
  phone: 4,
) !default;

$grid-default-margin: (
  large: 24px,
  desktop: 24px,
  tablet: 16px,
  phone: 16px,
) !default;

$grid-default-gutter: (
  large: 24px,
  desktop: 24px,
  tablet: 16px,
  phone: 16px,
) !default;

$grid-column-width: (
  large: 72px,
  desktop: 72px,
  tablet: 72px,
  phone: 72px,
) !default;

$grid-default-column-span: 4 !default;

$grid-max-width: 80rem !default;
